.menu-spacer {
  flex: 1 1 auto;
}

.content-wrapper {
  margin-left:  auto;
  margin-right: auto;
  padding:      15px;
  text-align:   center;
  width:        100%;
}

.footer {
  bottom:   0;
  padding:  16px;
  position: fixed;
  right:    0;
}
