:host {
  display:        flex;
  flex-direction: column;
  height:         100vh;
}

.mat-toolbar {
  background-color: #1976d2;
  color:            white;

  .logo {
    cursor:      pointer;
    font-size:   1.5rem;
    font-weight: bold;
  }

  .menu-spacer {
    flex: 1;
  }

  .mat-icon {
    color: white;
  }
}

.main-content {
  background-color: #f9f9f9;
  flex:             1;
  padding:          16px clamp(16px, 5%, 64px);
}

.footer {
  background-color: #f9f9f9;
  padding:          15px;
  text-align:       right;
}
